@if (favoritePlayers().length > 0) {
  <section class="favorite-players">
    <h2>Избранные профили</h2>

    <div class="favorite-players__list">
      @for (player of favoritePlayers(); track player.playerId) {
        <button
          type="button"
          class="favorite-player"
          (click)="onSelect(player.playerId )"
        >
          <span class="favorite-player__name">
            {{ player.name }}
          </span>

          <small class="favorite-player__uid">
            UID: {{ player.playerId }}
          </small>
        </button>
      }
    </div>
  </section>
}